<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="m-1 ms-5">
        <img src="https://1.bp.blogspot.com/-4QIBI-XmW4I/WdtCeBUDv1I/AAAAAAAAA3Y/sFI5RQUjNxQ5QD0XR1fwkpyq5BIPD6QZACLcBGAs/s1600/Free%2BLetter%2BC%2BLogo%2BDesign.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        CodeBase</a>
      <form class="d-flex" role="search">
        <button class="btn text-dark" type="button"><i class="fa-solid fa-gear"></i></button>
        <button class="btn text-dark" type="button"><i class="fa-solid fa-circle-info"></i></button>
        <button class="btn text-dark" type="button"><i class="fa-solid fa-user"></i></button>
      </form>
    </div>
  </nav>
